<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Atelier I - Web Dynamique</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
		<script type="text/javascript" th:src="@{/js/form.js}"></script>
	</head>
	<body>
		<div th:replace="fragments/menu :: menu">
			<h1>Menu</h1>
		</div>
		<div class="ui five column grid">
            <div class="row"></div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
				<form
					class="ui form"
					id="add_card_form"
					method="POST"
					th:action="@{/addCard}"
					th:object="${CardForm}"
				>
					<div class="ui dividing" id="message-container" th:if="${sentForm}">
						<div th:replace="${success} ? ~{fragments/formPostMessage :: success} : ~{fragments/formPostMessage :: failure}"></div>
					</div>
					<h3 class="ui dividing header">Add Card form</h3>
					<div class="field">
						<label>Name</label>
						<input type="text" name="name" placeholder="Name" th:field="*{name}">
					</div>
					<div class="field">
                        <label>description</label>
                        <textarea id="" name="description" placeholder="description" rows="3" cols="50" th:field="*{description}"></textarea>
                    </div>
                    <div class="field">
                        <label>Image Url</label>
                        <input type="text" name="imageUrl" placeholder="Image Url" th:field="*{imgUrl}">
                    </div>
                    <div class="field">
                        <label>Family</label>
                        <select type="select" name="family" id="family" th:field="*{family}">
                            <option value="Happy Tree Friends">Happy Tree Friends</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Affinity</label>
                        <select type="select" name="affinity" id="affinity" th:field="*{affinity}">
                            <option value="fire">Fire</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Hp</label>
                        <input type="range" id="hp" name="hp" min="0" max="100" value="0" step="1" th:field="*{hp}">
                    </div>
                    <div class="field">
                        <label>Energy</label>
                        <input type="range" id="energy" name="energy" min="0" max="100" value="0" step="1" th:field="*{energy}">
                    </div>
                    <div class="field">
                        <label>Attack</label>
                        <input type="range" id="attack" name="attack" min="0" max="100" value="0" step="1" th:field="*{attack}">
                    </div>
                    <div class="field">
                        <label>Defence</label>
                        <input type="range" id="defence" name="defence" min="0" max="100" value="0" step="1" th:field="*{defense}">
                    </div>

					<button class="ui button" type="reset">Cancel</button>
					<button class="ui button" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</body>

</html>