<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Atelier I - Web Dynamique</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
	</head>
	<body>
		<div th:replace="fragments/menu :: menu">
			<h1>Menu</h1>
		</div>

		<div class="ui five column grid">
            <div class="row"></div>
            <div class="row">
                <div class="five column"></div>
            </div>
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <form
                    class="ui form"
                    id="mySearch"
                    method="POST"
                    th:action="@{/cardView}"
                    th:object="${searchForm}"
                >
                    <h3 class="ui dividing header">Select the Card Name to Search</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>Card Name</label>
                        </div>
                        <div class="field">
                            <div class="ui transparent icon input">
                                <input type="text" placeholder="Search..." name="search" th:field="*{name}">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>
		<!------------------------------------------------------------------------->
        <!--    ----------------------------- CARD ----------------------------- -->
        <!------------------------------------------------------------------------->
        <div class="ui five column grid" th:if="${isSearch}">
            <div class="column"></div>
            <div class="column"></div>
            <div class="column">
                <div class="ui special cards" id="cardContainer" th:if="${myCard}">
					<div th:replace="fragments/card :: card">
						<h1>Default card</h1>
					</div>
				</div>
            </div>
        </div>
	</body>

</html>