<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Atelier I - Web Dynamique</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/semantic.min.css}">
	</head>
	<body>
		<div th:replace="fragments/menu :: menu">
			<h1>Menu</h1>
		</div>
	</body>
</html>