html{
    font-size: 1em
}

body{
    font-size: 1em
}

.imageCard{
    height: 100px;
}

.limitText{
    text-overflow:ellipsis;
}

.ui.messageLight{
    background: #ffffff;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
}

.overflowHiden{
    overflow:  auto;
}

.card-button{
    height: 100px;
    font-size: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.height0 {
    height:0.35em !important;
}

.underline:hover {
    text-decoration: underline;
}

.link{
    color:  rgba(0,0,0,.6);
}

a:visited {
    color:  rgba(0,0,0,.6);
}

a:focus {
    color:  rgba(0,0,0,.6);
}

a:hover {
    color:  rgba(0,0,0,.6);

}

#current_user_header {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    
}

#header_left {
    margin: 0;
    margin-right: auto;
    display: flex;
}

#balance_value_div {
    text-align: right;
}

#user_info_div {
    width: 100%;
}

#cardImgId {
    max-width: 200px;
    max-height: 150px;
    overflow: hidden;
}