<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="card" th:fragment="card">
            <div class="content">
                <img id="cardFamilyImgId" class="ui avatar image" th:src="${myCard.imgUrl}">
                <span id="cardFamilyNameId" th:text="${myCard.family}"></span>
            </div>
            <div class="image imageCard">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img id="cardImgId" class="ui centered tiny image" th:src="${myCard.imgUrl}">
                </div>
            </div>
            <div class="content">
                <div class="ui form tiny">
                    <div class="field">
                        <label id="cardNameId" th:text="${myCard.name}"></label>
                        <textarea id="cardDescriptionId" class="overflowHiden" readonly="" rows="5" th:text="${myCard.description}"></textarea>
                    </div>
                </div>
            </div>
            <div class="content">
                <span class="right floated ">
                    <i class="lightning outline icon"></i>
                    <span id="cardEnergyId" th:text="${myCard.energy}">}</span> 
                </span>
                <i class="heart outline icon"></i> <span id="cardHPId" th:text="${myCard.hp}"></span> 
            </div>
            <div class="content">
                <span class="right floated">
                    <i class=" wizard icon"></i>
                    <span id="cardAttackId" th:text="${myCard.attack}"></span> 
                </span>
                <i class="protect icon"></i>
                <span id="cardDefenceId" th:text="${myCard.defense}"></span> 
            </div>
        </div>
    </body>
</html>